<!-- The webpage starts here! -->
<div class="wrapper">
  <!-- The toolbar starts here! -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a [routerLink]="['/home']" style="color:white; text-decoration: none" ><strong>TaskRevolver</strong></a> >>> it's your turn!</span>
      <span class="toolbar-spacer"></span>
      <button mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon></button>
      <button mat-button [routerLink]="['/about']">About</button>
      <button mat-button [routerLink]="['/contact']">Contact us</button>
      <button mat-button [routerLink]="['/tac']">Terms and Conditions</button>
      <button mat-button [routerLink]="['/privacy']">Privacy Policy</button>
      <span class="toolbar-spacer"></span> 
      <div *ngIf="registerbutton">  
        <button mat-button (click)="register()">Register</button>
      </div>
      <div *ngIf="verifyemailbutton">
        <button mat-button (click)="sendVerfificationEmail()">Verify Email</button>
      </div>
      <div *ngIf="loginbutton">
        <button mat-button (click)="login()">Login</button>
      </div>
      <div *ngIf="authenticated">
        <button mat-button (click)="logout()">Logout</button>
        <button mat-button (click)="settings()" *ngIf="userDisplayName"><mat-icon>person</mat-icon> {{ userDisplayName }}</button>
        <button mat-button (click)="settings()" *ngIf="!userDisplayName"><mat-icon>person</mat-icon> My account</button>
       
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item [routerLink]="['/admin/teams']" > Teams </button>
          <button mat-menu-item [routerLink]="['/admin/users']"> Users </button>
          <button mat-menu-item [routerLink]="['/admin/roles']"> Roles </button>
          <button mat-menu-item [routerLink]="['/admin/themes']"> Themes </button>
          <button mat-menu-item [routerLink]="['/admin/ranks']"> Ranks </button>
          <button mat-menu-item [routerLink]="['/admin/tasks']"> Tasks </button>
          <button mat-menu-item [routerLink]="['/admin/taskcategories']"> Taskcategories </button>
          <button mat-menu-item [routerLink]="['/admin/tasktypes']"> Tasktypes </button>
          <button mat-menu-item [routerLink]="['/admin/revolvers']"> Revolvers </button>
          <button mat-menu-item [routerLink]="['/admin/revolverslots']"> Revolverslots </button>
        </mat-menu>   
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- The main content starts here! -->
  <div class="maincontainer">
    <!-- The routed content loads here! -->
    <router-outlet></router-outlet>
  </div>
  <div class="push"></div>
</div>

<!-- footer stuff goes here -->
<footer class="footer" *ngIf="authenticated"> <app-footer></app-footer> </footer>




